# CI Tests which run on Windows machines

# These access secrets, so should only be run on local branches.

# Ideally, the CI tests would be a single workflow, but several issues
# (especially varied OS support) mean that it is hard to keep a single
# workflow green. If there is one OS likely to lag slightly in support
# it is Windows

name: CI Tests - Windows
permissions:
  contents: read

on:
  workflow_dispatch:
    inputs:
      commit_id:
        description: 'Branch or Commit ID (optional)'
        required: false
        type: string
  schedule:
    # * is a special character in YAML so we quote this string
    # Run at 09:30 UTC every day
    - cron:  '30 09 * * *'

jobs:
  cpu_small:
    strategy:
      fail-fast: false # Don't cancel all on first failure
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        model:
          - "transformers_gpt2_cpu"
          - "llamacpp_gemma2_9b_cpu"
    uses: ./.github/workflows/call_cpu_tests.yml
    with:
      os: "Large_Windows"
      python-version: ${{ matrix.python-version }}
      model: ${{ matrix.model }}
      codeCovPython: ${{ vars.CODECOV_PYTHON }}
    secrets:
      HF_TOKEN: ${{ secrets.HF_TOKEN }}

  cpu_big:
    strategy:
      fail-fast: false # Don't cancel all on first failure
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        model:
          - "llamacpp_llama2_7b_cpu"
          - "transformers_llama3_8b_cpu"
          - "transformers_phi4_mini_cpu"
          - "onnxruntime_phi4_mini_instruct"
        exclude:
          # https://github.com/microsoft/onnxruntime/issues/26547
          - model: "onnxruntime_phi4_mini_instruct"
            python-version: "3.14"  # Waiting for ONNX update
    uses: ./.github/workflows/call_cpu_tests.yml
    with:
      os: "Large_Windows"
      python-version: ${{ matrix.python-version }}
      model: ${{ matrix.model }}
      codeCovPython: ${{ vars.CODECOV_PYTHON }}
    secrets:
      HF_TOKEN: ${{ secrets.HF_TOKEN }}
